@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gray-text: #bec4cf;
  --main-green: #06866e;
  --gray-border: #d9d9d9;
  --ws-gray-text: #d5d8df;
  --black: #101010;
  --main-gray: #625f5f;
  --light-gray: #f3f4f9;
  --grid-border: rgba(224, 224, 224, 1);
  --input-border-light: rgb(0 0 0 / 23%);
  --yellow: #e6af2e;
  --min-width: 1090px;
  --lt-blue: #077eb7;
  --success: #198754;
}
#root {
  background-color: #f2f2f2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  font-family: Inter, sans-serif;
}
a:hover {
  color: #e6af2e;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  font-family: "Inter", sans-serif !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Inter", sans-serif;
}
p {
  padding: 0.25rem 0;
  font-family: "Inter", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button > a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--yellow);
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn.btn-primary {
  background-color: var(--yellow);
  border: none;
  padding: 0.5rem 2rem;
  margin-left: auto;
}

.btn.btn-primary:disabled {
  opacity: 0.5;
}
/* .btn.btn-secondary {
  margin-right: auto;
} */

input::placeholder,
select::placeholder,
textarea::placeholder {
  opacity: 0.3 !important;
}

input.form-control,
textarea.form-control,
select.form-select {
  border-color: #babbbd;
}

.member {
  padding-right: 0;
}
.instrument {
  padding-left: 2px;
}

blockquote > p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 700;
  padding: 3rem 3rem 1rem;
  color: var(--lt-blue);
  text-align: center;
  font-size: 1.3rem;
}

#nav-menu {
  .modal-content {
    background-color: black;
  }
  .modal-header {
    max-height: 70px;
    border-bottom: transparent;
  }
}

@media screen and (max-width: 900px) {
  blockquote > p {
    padding: 0;
    font-size: 1.1rem;
  }
}
